/* Home.css */

.home-container {
    background-color: black;
    overflow-x: hidden !important;
    padding-top: 20px;
}

.modal-home {
    background-color: rgba(76, 30, 30, 0.1) !important;
    color: white;
    margin-top: 30px !important;
    width: 80% !important;
    margin-right: 40%;
    font-weight: bold !important;
    font-size: 50px !important;
}


.img1-home {
    display: flex;
    justify-content: center;
    animation: scaleFadeIn 1s ease-in-out, scrollAnimation 10s linear infinite;
}

@keyframes scaleFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}





@import 'https://fonts.googleapis.com/css?family=Roboto';

h2,
a,
p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.flex {
    display: flex;
}

.header-sub-title {
    color: aqua;
    font-size: 60px;
    font-weight: bolder;
    padding: 0.1em;
    white-space: normal;
    overflow-wrap: break-word;
}


 .self-des {
     display: flex;
     justify-content: center;
     align-self: flex-start !important;
     margin-left: 10px !important;
     margin-right: 10px !important;
     text-align: start !important;
 }

