
.card-project{ 
    background-color: black !important;
    border: 3px solid rgb(0, 183, 255) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    min-height: 100px !important;
    margin-top: 50px;
        overflow-x: hidden !important;
}
.card-project-header h2{
        color: white !important;
        font-size: 30px !important;
        font-weight: bold !important;
        border-bottom: 5px solid rgb(0, 183, 255) !important;
}
.card-project-body{
    color:white;
    
}
.card-project-footer{
    color:white !important;
    border: none !important;
}
.img1-projects {
    margin-top: 20px;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    animation: scaleFadeIn 1s ease-in-out, scrollAnimation 10s linear infinite;
}

@keyframes scaleFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@media(max-width:576px) {
    .img1-projects {
        height: 100vw !important;
        width: 100vw !important;
        border-radius: 50%;
        animation: scaleFadeIn 1s ease-in-out, scrollAnimation 10s linear infinite;
    }

    @keyframes scaleFadeIn {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}